<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URLs</key>
	<dict>
		<key>WebsiteURL</key>
		<string>http://9labs.io</string>
		<key>ProductURL</key>
		<string>http://www.audiomateapp.com</string>
		<key>ContactURL</key>
		<string>http://www.audiomateapp.com/contact</string>
		<key>TwitterURL</key>
		<string>http://www.twitter.com/The9Labs</string>
	</dict>
</dict>
</plist>
